.mainLogo {
    padding-top: 1px;
    display: block;
    margin: 0 auto;
    width: 447px;
    height: 57px;
}

.downIMG {
    padding-top: 16px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 4px;
}

.search-container {
    padding-top: 16px;
    text-align: center;
}

.ready-searches {
    padding-top: 16px;
    text-align: center;
    font-size: small;
}

ul {
    padding-top: 26px;
    line-height: 34px;
    margin-bottom: 5px;
}